*{
	margin:0px;
	padding:0px;
	font-family: verdana;
	color:#bcbcbc;
}

body{

}


div.contenedor-logos{
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:40px;
	
}

div.logo{
	width:40px;
	height:40px;
	background-image:url(img/menu.png);
	float: left;
}

p.title-menu{
	margin-left:60px;
	line-height: 40px;
	color: black;
}

/*body*/

div#body{
	position:absolute;
	right:0px;
	min-height:300px;
	left:170px;
}

div#texto{
	width:50%;
	min-height:300px;
	float:left;
}

p#texto-contenedor-1{
	font-size:25px;
	margin:30px;
	margin-top:50px;
	color:#595959;
}

div#foto{
	width:50%;
	height:300px;
	float:right;
}

img#foto-contenedor-1{
	margin:auto;
	margin-top:15px;
	width:300px;
	display:block;
}

/*es para el cajon de busqueda*/

input[type="search"]{
	margin-left: 75%;
	margin-top: 2%;
	width: 45px; /*ancho por defecto*/
	background: #ededed url('search-icon.png') no-repeat 9px center; /*icono lupa*/
	padding: 9px 10px 9px 35px;
	border-radius: 15em;
	-webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
	-moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
	-o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
	transition: all .5s; /* transición de .5seg a todos los elementos*/
	outline: none; /* ocultar el fucos automático de los input */
}
input[type="search"]:focus{
	width: 170px; /*tamaño del boton buscar al hacer click*/
	padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
	color: #000;
	background-color: #FFF;
}

/*Para registro*/

label#label-numero-sucursal{
	margin-left: 2%; 
}


label#label-nombre-sucursal{
	margin-left: 4%;
}

label#label-direccion-sucursal{
	margin-left: 4%;
}



label#label-telefono-sucursal{
	margin-left:6%;

}


/*Ubicacion de botones*/

div#div-botones{
	margin-left: 40%;
	margin-top: 1%;
}

/*Para el Formulario de Lista de Empleados*/

/*Buscador*/ 

input#buscador{
	margin-left: 6%;
	margin-top: 2%;
	width: 45px; /*ancho por defecto*/
	background: #ededed url('search-icon.png') no-repeat 9px center; /*icono lupa*/
	padding: 9px 10px 9px 35px;
	border-radius: 15em;
	-webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
	-moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
	-o-transition: all .5s; /* transición de .5seg a todos los elementos para opera*/
	transition: all .5s; /* transición de .5seg a todos los elementos*/
	outline: none; /* ocultar el fucos automático de los input */
}
input#buscador:focus{
	width: 170px; /*tamaño del boton buscar al hacer click*/
	padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
	color: #000;
	background-color: #FFF;
}

/*botones*/

div#div-botones-lista-empleados{
	margin-left: 8%;
	margin-top: 1%;
}

button#btn-editar-empleado{
	margin-left: 8%;
}

button#btn-eliminar-empleado{
	margin-left: 8%;
}

/*carrucel de imagenes*/

div#div-contenedor{
	margin-left: 12.5%;
}