.login{
	display: inline-block;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 50%;
}
.Elementos{
	padding: 15px;
	background: #EBEBEB;
}
.dropdown_contenido{
	display: none;
	position: absolute;
}
.dropdown_contenido a{
	display: block;
	text-decoration: none;
}

.dropdown:hover
.dropdown_contenido{
	display: block;
	text-decoration: none;
}
.input_label{
	padding:10px;
}

.input_label input{
	width: 250px;
	height: 35px;
	border-radius: 5px;
	border-style: none;
	box-shadow: inset 0px 0px 3px gray;
	text-align: center;
  	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	font-size: 18px;
  	color:#00AFF0;
}
.btn{
	height: 25px;
	width: 100px;
	border-radius: 5px;
	margin:auto;
	background: #00AFF0;
	-webkit-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.btn:hover{
	background: #179596;
}

.Formulario a {
  color: black;
  text-decoration: none;
}
